.services{
    /* background: linear-gradient(180deg,#0c0c1d,#111132); */
   height: 100vh;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service-textContainer{
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
}
.title{
    display: flex;
    align-items: center;
    gap: 50px;
}
.title h1{
    font-size: 70px;
    font-weight: 100;
}
.service-btn{
    width: 180px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(to right top, #95949e, #7c7a94, #646089, #4c487e, #323073);
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.title img{
    width: 300px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}
.titleContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .listContainer{
    flex: 2;
    display: flex;
    max-width: 1266px;
    margin: auto;
}
.listContainer h2{
    color:  #007bff;
    text-align: center;
    margin: 10px;
} */
.title h1:hover{
color: #42a5f6;
}
.service-textContainer p{
    font-weight: 200;
    font-size: 20px;
    color: gray;
    text-align: right;
}
hr{
    width: 500px;
    border: none;
    border-top: 0.5px solid gray;
}
/* .box{
    padding: 30px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
} */
/* .box-button{
    padding: 7px;
    background: gray;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    color: #000;
} */

.listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 60px;
    flex-wrap: wrap;
    padding: 40px 10px;
}
.listContainer .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
    inset -5px -5px 5px rgba(255,255,255,0.5),
    5px 5px 5px rgba(255,255,255,0.05),
    -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}
.listContainer .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.listContainer .content{
    padding: 20px;
    text-align: center;
   
}
.listContainer .content h2{
    position: absolute;
    
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0,0,0,0.05);
    transition: 0.5s;
    pointer-events: none;
}
.listContainer .card:hover .box .content h2{
   
    color: rgba(0,0,0,0.05);
}
.listContainer .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background-image: linear-gradient(to right top, #7678ed, #817fda, #8a86c6, #908db2, #95949e);
   
    /* background:linear-gradient(45deg,#b95ce4,#4f29cd); */
}
.listContainer .card:hover .content p{
    color: #fff;
}
.content h3{
    font-size: 1.8em;
    color: #42a5f6;
    z-index:1;
    transition: 0.5s;
}
.content p{
    font-size: 1em;
    font-weight: 300;
    color: #000;
    z-index: 1;
    transition: 0.5s;
}
.box-button{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02);
    cursor: pointer;
}

@media (max-width:738px){
    .service-textContainer{
        align-self: center;
        text-align: center;
        flex-direction: column;
      padding-top: 20px;
    }
    .services{
        height: auto;
    }
    hr{
        width: 300px;
    }
    .title{
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }
    .titleContainer{
        width: 100%;
    }
    .title h1{
        font-size: 36px;
    }
    .title img{
        width: 280px;
        height: 60px;
        padding-top: 7px;
    }
    .service-btn{
        font-size: 16px;
        width: 150px;
        height: 30px;
        margin-bottom: 5px;
    }
    .listContainer{
        padding: 10px;
        gap: 0;
    }
    .listContainer .card{
     
        height: 350px;
    }
    .listContainer .content h2 {
        position: absolute;
        top: -16px;
        right: 9px;
    }
    /* .listContainer{
        flex-direction: column;
        width: 100%;
    }
    .box-button{
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #fff;
        width: 80%;
        background: gray;
        padding: 5px;
       
    }
    .box{
      
        align-items: center;
        padding: 10px;
        margin: 10px;
    } */
    /* .listContainer p{
        display: none;
    } */
    .service-textContainer p{
        font-size: 15px;
    }
    hr{
        width: 250px;
    }
}

