.home {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    width: 100%;
  
}

.wrap {

    height: 100%;
 margin: auto;
}

.textContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 0 0 0 60px;
   
}

.textContainer h2 {
    font-size: 32px;
    color: rebeccapurple;
    letter-spacing: 10px;
}

.textContainer h1 {
    font-size: 40px;
}

.buttons {
    display: flex;
    cursor: pointer;
    .button1 {
        padding: 15px 20px;
        border: 1px solid white;
        border-radius: 10px;
        margin-right: 20px;
        /* width: 200px;
                    height: 50px; */
        color: #fff;
        background: transparent;
        /* cursor: pointer; */
        
        font-size: 16px;
    }

    .button2 {
        padding: 15px 20px;
        border: 1px solid white;
        border-radius: 10px;
        margin-right: 20px;
        /* width: 150px;
                    height: 50px; */
        color: #000;
        background: #fff;
        font-size: 16px;
        /* cursor: pointer; */
        
    }
}

.textContainer img {
    width: 50px;
    height: 50px;
}

.imageContainer {

    width: 45%;
    position: absolute;
    top: 0;
    right: 45px;

}

.slidingTextContainer {
    position: absolute;
    font-size: 30vh;
    bottom: -40px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
}
.textContainer .homepage-image{
    display: none;
}
@media (max-width:738px){
    
    .textContainer{
        height: 100%;
        width: 100%;
        gap: 5px;
        align-items: center;
        text-align: center;
        margin:10px 5px;
    }
    .textContainer h1{
       font-size: 20px;
       padding: 6px;
    }
    .textContainer h2{
        font-size: 28px;
        letter-spacing: 4px;
    }
    .textContainer img{
        width: 40px;
        height: 40px;
        margin-right: 252px;
    }
    .imageContainer{
        display: none;
        height: 0;
    }
    .textContainer .homepage-image{
        display: block;
        height: 65%;
    }
    /* .imageContainer{
        height: 40%;
        width: 100%;
        top: unset;
        bottom: 0;
    }
   
    .lottie-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 40px;
    } */
    .slidingTextContainer{
        bottom: 15px;
        font-size: 10vh;
    }
    .buttons{
        .button1,.button2{
            padding: 11px 13px;
        }
    }
    
}
@media (min-width:720px) and (max-width: 1100px){
    .slidingTextContainer{
        bottom: 15px;
        font-size: 10vh;
    }
    .imageContainer{
        top: 136px;
    }
}