.contact {
    height: 100%;
   width: 80%;
    margin: 10% auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

    .textContact {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .textContact h1 {
            font-size: 80px;
            line-height: 88px;
        }

        .textContact  span {
            font-weight: 300;
        }
    
    .formContainer {
        flex: 1;
        position: relative;
    }
        .phone-svg {
            stroke: orange;
            position: absolute;
            margin: 40px 80px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input,
            textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
            }

            .submitButton {
                padding: 15px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
                color: #000;
                text-align: center;
            }
        }
        
    

@media (max-width:738px) {
    .contact{
        width: 100%;
        padding: 10px;
        flex-direction: column;
        margin-top: 30px;
        height: auto;
    }
    .textContact{
        gap: 6px;
        text-align: center;
        align-items: center;
    }
    .textContact h1{
        font-size: 36px;
    }
    input,textarea{
        padding: 10px;
    }
    .submitButton{
        padding: 10px;
    }
    .formContainer{
        padding: 10px;
        width: 100%;
    }
    /* .phone-svg{
        margin: 0;
       
    } */
   .phone-svg svg{
    width: 220px;
    height: 220px;
   margin: auto;
   }
    
}