.navbar{
    height: 100px;
}
.wrapper{
   width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
   padding:4px;
  
}
.wrapper span{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 28px;
    height: 28px;
    border-radius: 0;
}
@media (max-width:738px){
    .social{
        display: none;
    }
    .wrapper{
        font-size: 10px;
        justify-content: start;
    }
    .wrapper img{
        width: 30px;
        height: 30px;
    }
    .wrapper span{
        font-size: 15px;
    text-transform: uppercase;
    }
}