.navbar{
    height: 100px;
}
.wrapper{
   width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
   padding:4px;
  
}
.wrapper span{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 28px;
    height: 28px;
    border-radius: 0;
}
@media (max-width:738px){
    .social{
        display: none;
    }
    .wrapper{
        font-size: 10px;
        justify-content: flex-end;
    }
    .wrapper img{
        width: 20px;
        height: 20px;
    }
}

/* .navbar{
    height: 100px;
}
.wrapper{
    max-width: 1050px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
span{
    font-weight: bold;
}
.social{
    display: flex;
    gap: 20px;
}
img{
    width: 18px;
    height: 18px;
}
@media only screen and (max-width:960px){
    span{
        display: none;
    }
    .wrapper{
        justify-content: flex-end;
        padding: 20px;
    }
} */
