.navbar{
    height: 100px;
}
.wrapper{
   width: 50%;
    margin: auto;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 30px;
}
.wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 45px;
   padding:4px;
   margin-right: 3px;
}
.wrapper span{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 28px;
    height: 28px;
    border-radius: 0;
}
@media (max-width:738px){
    .social{
        display: none;
    }
    .wrapper{
        font-size: 10px;
        justify-content: start;
        width: 80%;
      padding: 20px;
        margin-left: -60px;
       
       
    }
    .navbar{
        height: 80px;
    }
    .wrapper img{
        width: 40px;
        height: 40px;
        margin-right: 3px;
        
    }
    .wrapper span{
        font-size: 15px;
    text-transform: uppercase;
    }
}