.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
   
}
.sidebar .bg{

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    
}
.sidebar .bg .links {
   /* position: absolute; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: lightgray;
    
}
.sidebar-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    /* left: 25px; */
    padding-top: 8px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}
.links a{
    font-size: 35px;
}
.sidebar .bg{
    z-index: 99;
   
}

.sidebar-button{
    z-index: 999;
}

@media screen and (min-width:739px) {
    .sidebar-button{
        left: 25px;
    }
}


@media screen and (max-width:738px){
   
    .links a{
        font-size: 20px;
    }
    .sidebar .bg{
        z-index: 99;
       
    }
    
    .sidebar-button{
        z-index: 999;
    }
    .sidebar .bg{
        width: 100%;
        right: 60%;
      
    }
    .sidebar-button{
        left: 80.75%;
    }
}