/* html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  } */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif;
  }
  body{
    /* background-color:#e7eaf6; */
    color: #ccc;
    background-color: #0c0c1d;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  section{
    height: 100vh;
    scroll-snap-align: center;
   width: 100%;
  }
  .whatsapp img{
    width: 50px;
    height: 50px;
      position: fixed !important;
      bottom: 10px;
      right: 20px;
      font-size: 900;
   

     
  }
  @media (max-width:738px){

    .whatsapp img{
      width: 40px;
      height: 40px;
      z-index: 999;
    }
  
  }